<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.shop.mapper.RechargeRecordMapper">

    <insert id="addMoney">
        insert into recharge_record (user_id, add_money, create_time, update_time)
        values (#{userId}, #{money}, now(), now());
    </insert>
</mapper>
